# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME?schema=public"
POSTGRES_HOST=""
POSTGRES_PORT="5432"
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

# Doubao
DOUBAO_API_KEY=""
DOUBAO_MODEL=""
# ASR (OpenSpeech)
DOUBAO_ASR_API_KEY=""
DOUBAO_ASR_APP_ID=""
DOUBAO_ASR_ACCESS_TOKEN=""
DOUBAO_ASR_RESOURCE_ID="volc.seedasr.auc"
DOUBAO_BASE_URL="https://ark.cn-beijing.volces.com/api/v3"
